@page "/armala"
@using PizzaBlazor.Shared.Models;
@inject HttpClient client

<h3>Ármala tú mismo</h3>

<div class="row">
    <div class="col-6">
        @if (tamanos != null)
        {
            <select class="form-select" aria-label="Default select example" @onchange="TamanoFunc" style="margin-bottom:2rem">
                <option selected disabled>Selecciona el tamaño</option>
                @foreach (var item in tamanos)
                {
                    <option value=@item.Id>@item.Tamano</option>
                }
            </select>
        }
        @if (tamanoSeleccionado.Id > 0)
        {
            @if (tiposMasa != null)
        {
                <select class="form-select" aria-label="Default select example" @onchange="TipoFunc" style="margin-bottom:2rem">
                <option selected disabled>Selecciona el tipo de masa</option>
                @foreach (var item in tiposMasa)
                {
                    <option value=@item.Id>@item.Tipo</option>
                }
            </select>
        }
        }
        //comentario
        @if (tipoSeleccionado.Id > 0)
        {
            @foreach(var item in ingredientes)
            {
                <div class="form-check" style="display:inline-block;margin-right:2rem">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @onchange="eventArg => {IngSel(item,eventArg);}">
            <label class="form-check-label" for="flexCheckDefault">
                        @item.Nombre @if (item.Nombre == "Jamón")
                        {
                            <span class="badge bg-warning">Nuevo</span>
                        }
                    </label>
            </div>
            }
 
        }
        @if (costoIngredientes > 0.0 && tamanoSeleccionado.Precio > 0.0 && tipoSeleccionado.Precio > 0.0)
        {
                <div class="d-grid gap-2" style="margin-top:2rem">
                <button class="btn btn-outline-primary" type="button" @onclick="Ordenar" disabled="@ordenando">Ordenar</button>
        </div>
        }

        @if (ordenando)
        {
            <div class="text-center" style="margin-top:5rem">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Ordenando...</span>
                </div>
            </div>
        }
    </div>
    <div class="col-6 mx-auto">
        <div class="card" style="width:25rem;text-align:center">
            <img src="https://revistaelconocedor.com/wp-content/uploads/2017/04/shutterstock_378226756-1024x736.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Siempre utilizamos los ingredientes frescos y de la más alta calidad</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @tamanoSeleccionado.Tamano
                    <h6 style="color:green">@tamanoSeleccionado.Precio</h6>
                </li>
                <li class="list-group-item">
                    @tipoSeleccionado.Tipo
                    <h6 style="color:green">@tipoSeleccionado.Precio</h6>
                </li>
                <li class="list-group-item">
                    Ingredientes
                    <h6 style="color:green">@costoIngredientes</h6>
                </li>
            </ul>
            <div class="card-body">
                Precio total
                <h5 style="color:forestgreen">$ @totalPizza</h5>
            </div>
        </div>
    </div>
</div>





@code {
    List<Tamanos> tamanos = new List<Tamanos>();
    List<TipoMasa> tiposMasa = new List<TipoMasa>();
    List<Ingrediente> ingredientes = new List<Ingrediente>();
    Tamanos tamanoSeleccionado = new Tamanos();
    TipoMasa tipoSeleccionado = new TipoMasa();

    Ingrediente nvoIngrediente = new Ingrediente();

    float costoIngredientes = 0.0f;
    float totalPizza = 0.0f;
    bool ordenando = false;

    List<Ingrediente> ingredientesSel = new List<Ingrediente>();

    protected override async Task OnInitializedAsync()
    {

        nvoIngrediente = new Ingrediente { Nombre = "Doritos", Precio = 70.0f };
        await client.PostAsJsonAsync("api/Catalogos/nvoingrediente", nvoIngrediente);

        tamanos = await client.GetFromJsonAsync<List<Tamanos>>("api/Catalogos");
        tiposMasa = await client.GetFromJsonAsync<List<TipoMasa>>("api/Catalogos/tipomasa");
        ingredientes = await client.GetFromJsonAsync<List<Ingrediente>>("api/Catalogos/ingredientes");

        
    }

    private void TamanoFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        tamanoSeleccionado = tamanos.Where(tamano => tamano.Id == idint).FirstOrDefault();
        totalPizza = tamanoSeleccionado.Precio + tipoSeleccionado.Precio + costoIngredientes;
    }

    private void TipoFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);
        tipoSeleccionado = tiposMasa.Where(tipo => tipo.Id == idint).FirstOrDefault();
        totalPizza = tamanoSeleccionado.Precio + tipoSeleccionado.Precio + costoIngredientes;
    }

    private void IngSel(Ingrediente ingrediente, ChangeEventArgs args)
    {
        bool prueba = bool.Parse(args.Value.ToString());
        costoIngredientes = 0.0f;
        //var ingredinteSel = ingrediente;

        if (prueba)
        {
            ingredientesSel.Add(ingrediente);
        }
        else
        {
            ingredientesSel.Remove(ingrediente);
        }

        foreach(var item in ingredientesSel)
        {
            costoIngredientes += item.Precio;
        }
        totalPizza = tamanoSeleccionado.Precio + tipoSeleccionado.Precio + costoIngredientes;
    }

    private void Ordenar()
    {
        ordenando = true;
    }
}
